body {
  background-image: url(../images/just-waves.png);
  background-repeat: repeat;
}
code {
  color: #99eeff;
}
a {
  color: #99eeff;
}
p {
  color: white;
}
a:hover {
  color: #99eeff;
}
.wrapper {
  margin: 20px;
}
.navigation {
  background-color: rgba(0,56,145,.9);
  padding: 10px;
}
.intro {
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 925px;
}
.navitem {
  color: white;
  padding: 0px 5px;
  font-size: 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.navres {
  color: white;
  float: right;
  padding: 0px 5px;
  font-size: 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.introName {
  font-size: 120px;
  font-family: 'Oswald', sans-serif;
  color: #003891;
  line-height: 120px;
  padding: 5% 0%;
}
.photo {
  float: left;
  margin: 4% 20px 4% 0px;
  border: 10px solid rgba(153,238,255,.7);
  border-radius: 280px;
  box-sizing: border-box;
  display: block;
}
.me {
  width: 280px;
  height: 280px;
}
.info {
  background-color: rgba(0,56,145, 1);
  border-radius: 10px;
  clear: both;
  padding: 20px 20px;
  margin-left: 5%;
  margin-right: 5%;

}
.active {
  color:#99eeff;
  padding: 0px 5px;
  font-size: 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.compinfo {
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  background-color: #003891;
}
.footer {
  font-size: 10px;
  margin-top: 5%;
  font-family: 'Oswald', sans-serif;
}
