body {
  background-image: url(../images/just-waves.png);
  background-repeat: repeat;
}
code {
  color: #99eeff;
}
a {
  color: #99eeff;
  text-decoration: none !important;
}
p {
  color: white;
}
a:hover {
  color: #99eeff;
}
.wrapper {
  margin: 20px;
}
.navigation {
  background-color: rgba(0,13,51,.9);
  padding: 10px;
}
.intro {
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 925px;
}
.navitem {
  color: white;
  padding: 0px 5px;
  font-size: 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.navres {
  color: white;
  float: right;
  padding: 0px 5px;
  font-size: 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.introName {
  font-size: 120px;
  font-family: 'Oswald', sans-serif;
  color: rgba(0,26,102,1);
  line-height: 120px;
  padding: 5% 0%;
}
.photo {
  float: left;
  margin: 4% 20px 4% 0px;
  border: 10px solid rgba(153,238,255,.7);
  border-radius: 280px;
  box-sizing: border-box;
  display: block;
}
.me {
  width: 280px;
  height: 280px;
}
.info {
  background-color: rgba(0,13,51,1);
  border-radius: 10px;
  clear: both;
  padding: 20px 20px;
  margin-left: 5%;
  margin-right: 5%;

}
.active {
  color:#99eeff;
  padding: 0px 5px;
  font-size: 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.compinfo {
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  background-color: rgba(0,26,102,1);
}
.footer {
  font-size: 10px;
  margin-top: 3%;
  font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 900px) {
  .photo {
    display: none;
  }
  .intro {
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
  }
}
.small-nav {
  display: none;
}

@media only screen and (max-width: 750px) {
  .navigation {
    display: none;
  }
  .dropimg {
    width: 50px;
    height: 50px;
    background-color: rgba(0,13,51,.9);
    padding: 10px;
  }
  .small-nav {
    display: inline-block;
    positon: relative;
  }
  .dropbtn {
    background-color: rgba(0,13,51,.9);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,13,51,.85);
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: rgba(0,13,51,.9);
  }
  .small-nav:hover .dropdown-content {
    display: block;
  }
  button {
    background: rgba(0,13,51,1);
    border: none;
  }

@media only screen and (max-width: 600px) {
  .photo {
    display: none;
  }
  .intro {
    padding: 20px 7%;
    text-align: center;
    width: 100%;
  }
  .introName {
    font-size: 18vw;
    line-height: 18vw;
    padding: 0% 0%;
  }
}
